#button {
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 6px;
  cursor: pointer;
 position: relative;
 top: 200px;
 left: 550px;
  }
  .button1{
    width: 80px;
    height: 30px;
    border: 2px solid red;
    color: black;
  background-color: yellow;
  } 
  body{
    background-image: url(images/d1.jpeg);
  }
  a{
    text-decoration: none;
    font-size: 1em;
    color: blue;
  }
    
  